*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
}

:root{
    --amarelo-principal: #F5CF06;
    --marrom-secundario: #8E4106;
    --margin-default: 70px

}

body{
    height: 100vh;
    background-color: var(--amarelo-principal);
    display: flex;
    flex-direction: column;
    padding-top: var(--margin-default);
    padding-bottom: 24px;
    font-family: 'Righteous', cursive;
}
header{
    height: 3rem; 
}
.logo{
    margin-left: var(--margin-default);
    display: flex;
    gap: 17px; /* espaçar itens dentro de um item*/
    font-size: 2rem;
    text-decoration: none;

}

main{
    flex-grow: 1; /* flex grow = força para esticar*/
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    margin-left: var(--margin-default);
    margin-right: var(--margin-default);
    position: relative;
     }
    
     .pikachu{
         position: absolute;
         top: 20%;
         left: 50%;
         transform: translateX(-50%);
         z-index: 1;
     }
.title{
    grid-column: 1/-1;
    place-self: center;
    position: relative;

}
.title_text{
    font-size: 20vw;
    color: #ffffff;

    
}
.title_transparent{
    position: absolute;
    font-size: 27vw;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff5;
    z-index: -1;
}
.description{
    font-size: 1rem;
    place-self: center start;
    color: var(--marrom-secundario);
   grid-column: 1/7;
}
.description_title{
    font-size: 4rem;
    
}
.description-text{
    font-size: 1.5rem;
    width: 500px;
}
.action{
    background-color: var(--marrom-secundario);
    grid-column: 7/-1;
    place-self: center end;
    height:100px;
    width: 411px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-decoration: none;
    color: white;
    
}



footer{
    color: var(--marrom-secundario);
   place-self: center;
   font-size: 2rem;
  
}
/* tablet */
@media (max-width: 960px){
   footer{
       display: none;
        } 
   :root{
    --margin-default: 30px

        }
    main{
        grid-template-columns:1fr; 
            
        }
        .pikachu{
            transform: translateX(-50%, 60%);
           
        }
        .title{
            
            place-self: start center;
           
        
        }
    .description{
         grid-row: 2;
        place-self: center;
        grid-column: 1;
        text-align: center;
        }
        .action{
            grid-row: 2;
            grid-column:1;
            place-self: end center ;
            
        }

        @media(max-width: 640px){
          
            .pikachu{
               width: 90vw;

               transform: translateX(-50%, 60%);
               
            }
            .title{
               transform: translateY(30%);
              
            }            
            .description-title{
                font-size:10vw;
              
               
                
            }
            .description-text{
                display: none;
            }

        }       
            .action{
                
                width: 100%;

            }
      
}


